<div class="pagination">
    <ul>
        {% for page in current_page.page_range %}
            {% if not page %}
                <span class='filler'>...</span>
            {% else %}
                {% ifequal page current_page.number %}
                    <a href="?page={{page}}&sort={{sort}}" class='current_page'>{{page}}</a>
                {% else %}
                    <a href="?page={{page}}&sort={{sort}}">{{page}}</a>
                {% endifequal %}
            {% endif %}
        {% endfor %}
        {% if current_page.has_next %}
            <a href="?page={{current_page.next_page_number }}&sort={{sort}}">Next</a>
        {% endif %}
    </ul>
</div>
